body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
}

.app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  margin-right: 3em;
  margin-left: 3em;
}

.app-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35% 0 1em;
}

#login-buttons {
  display: block;
  padding: 1.5em 0 0 0;
}

h1 {
  font-size: 1.5em;
}

ul {

}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 0;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 0px;
}

.players-container {
  display: flex;
  flex-grow: 8;
  flex-direction: column;
  justify-content: space-around;
}

.players-container-condensed {
  display: hidden;
}

.bag-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}


.upload-header label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  font-size: 200%;
  padding-left: 10%;
  padding-right: 10%;
}

.bag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.filethumb {
  width: 3em;
  height: 3em;
}
.taskthumb {
  max-width: 100%;
  max-height: 80%;
}

.hidden {
  display: none;
}

.individual-user {
  background: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  width: auto;
  margin: 5px 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
}

.highlighted-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7de;
  width: auto;
  margin: 5px 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
}
